<!--The content below is only a placeholder and can be replaced.-->
<div class="row">
  <div class="col-sm-3">
    <app-date-time></app-date-time>
    <app-location></app-location>
  </div>
  <div class="col-sm-3">
    <div #canvasesEle style="position:relative; width:800px; height:400px">
      <canvas id="skyCanvas" style="z-index: 1; position:absolute; left:0px; top:0px;" width="1200" height="600"></canvas>
      <canvas id="graphCanvas" style="z-index: 2; position:absolute; left:0px; top:0px;" width="1200" height="600"></canvas>
      <canvas id="sunPointsCanvas" style="z-index: 3; position:absolute; left:0px; top:0px;" width="1200" height="600"></canvas>
      <canvas id="sunMoonStarCanvas" style="z-index: 4; position:absolute; left:0px; top:0px;" width="1200" height="600"></canvas>
    </div>
  </div>
</div>
